body {
  margin: 0;
  width: 100%;
}

button, select {
  padding: 5px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 900px){
  .container {
    width: 95vw;
  }
}
@media (min-width: 901px){
  .container {
    width: 80vw;
  }
}

.shapley-container, .characteristic-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.characteristic-container {
  flex-wrap: wrap;
  justify-content: center;
}

.shapley-container {
  overflow-x: scroll;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.cell-container {
  display: inline-flex;
  flex-direction: column;
}

.cell-top, .cell-bottom {
  width: 75px;
  text-align: center;
  padding: 5px;
  border-right: white 2px solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cell-top {
  background-color: rgb(85, 145, 199);
  color: white;
  border-bottom: white 3px solid;
}

.cell-bottom {
  background-color: rgb(210, 222, 239);
  border-bottom: white 2px solid;
}

.cell-bottom>input {
  width: 95%;
}

.coalition-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 20vh;
}

.coalition-container .row-container {
  display: flex;
  flex-direction: column;
  border-bottom: white 2px solid;
}

.coalition-container .row-container .row {
  display: flex;
  flex-direction: row;
}

.coalition-container .row-container .col {
  /*display: flex;
  flex-direction: column;*/
  background-color: rgb(210, 222, 239);
  border-right: white 2px solid;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coalition-container .row-container .col.header {
  background-color: rgb(85, 145, 199);
  color: white;
}


.coalition-container .col-1 {
  min-width: 75px;
}

.coalition-container .col-2 {
  min-width: 400px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.coalition-container .col-2>span {
  padding-right: 2px;
  padding-left: 2px;
  min-width: 196px;
  width: 45%;
  /*flex: 1;*/
}

.coalition-container .col-2>span.highlight {
  background-color: red;
}

.coalition-container .col-3 {
  min-width: 150px;
}

.coalition-container .col-4 {
  min-width: 55px;
}